@tailwind base;
@tailwind components;
@tailwind utilities;

.react-chatbot-kit-chat-container{
    width:350px !important;
}
.react-chatbot-kit-chat-inner-container{
    height:700px !important;

}

.react-chatbot-kit-chat-bot-message-container .react-chatbot-kit-chat-bot-message{
    margin-left: 0px !important;
}

.react-chatbot-kit-chat-bot-message{
    font-size: 0,8rem !important;
    width: 200px !important;
}